.profile-image {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the circular area */
}

.video-element {
  width: 80%; /* Ensure the video takes the full width of the carousel item */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area without distortion */
}

.custom-separator {
  height: 2px;
  /*background-color: #FAC663;*/
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.custom-swiper {
  --swiper-navigation-color: #fac663;
  --swiper-navigation-size: 30px; /* Custom size for navigation arrows */
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}


article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}


article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

/** card **/

.card-animation {
  cursor: pointer;
  transition: 0.5s;
}

.card-animation:hover {
  transform: scale(1.05);
}




